<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Security Baseline Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Security Baseline Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div id="exTab3" class="container">
            @{
                var currentAction = ViewContext.RouteData.Values["action"].ToString();
            }
            <ul class="nav nav-pills">
                <li class="@(currentAction=="WarningBanner"? "active": "")">@Html.ActionLink("Warning Banner", "WarningBanner")</li>
                <li class="@(currentAction=="Import"? "active": "")">@Html.ActionLink("Import", "Import")</li>
                <li class="@(currentAction=="Facility"? "active": "")">@Html.ActionLink("Facility", "Facility")</li>
                @*<li class="@(currentAction=="FOCI"? "active": "")">@Html.ActionLink("FOCI", "FOCI")</li>*@
                <li class="@(currentAction=="Asset"? "active": "")">@Html.ActionLink("Asset", "Asset")</li>
                <li class="@(currentAction == "Export" ? "active" : "")">@Html.ActionLink("Export", "Export")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Security Baseline Tool</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
